#audio_vis_track_title {
    display: none;
}

#play_visualization {
    color: red;
    border: 1px solid #000;
    float: left;
}

#audio_visualized_elem {
}

.visualizer_hide_me {
    display: none;
}